@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage

<div class="nav">
    <h2>Blog_X</h2>
    <div class="links">
        <AuthorizeView>
            <Authorized>
                <a href="/home">home</a>
                <a href="/posts">posts</a>
                <button class="btn btn-danger" @onclick ="logout">logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="/">login</a>
                <a href="/register">register</a>
            </NotAuthorized>
        </AuthorizeView>
        
    </div>
</div>

@code{
    private async Task logout(){
        await localStorage.RemoveItemAsync("Token");
        await authProvider.GetAuthenticationStateAsync();
        navigationManager.NavigateTo("/");
    }
}