.nav[b-dwgkmzrj26]{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(47, 47, 128);
    opacity: 0.9;
    height: 15vh;
    color: white;
    
}
.links[b-dwgkmzrj26]{
    margin-right: 10%;
}
.links a[b-dwgkmzrj26]{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: large;
}